
    

    <!-- Header Area Starts
	<header class="header-area header-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="assets/images/logo/logo2.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu main-menu2">
                        <ul>
                            <li class="active"><a (click) = "home()">home</a></li>
                            <li><a href="about.html">recipes</a>
                              <ul class="sub-menu">
                                <li><a>food</a></li>
                                <li><a href="blog-details.html">drink</a></li>
                                <li><a href="blog-details.html">dessert</a></li>
                            </ul>
                            </li>
                            <li><a href="menu.html">sign up</a></li>
                            <li><a href="#">sign in</a></li>
                            <li> <i class="fa fa-search" aria-hidden="true"></i><li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 menu-food text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>Our Menu</i></h1>
                    <p class="pt-2"><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Food Area starts -->
    <section class="food-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-top">
                        <h3><span class="style-change">we serve</span> <br>delicious food</h3>
                        <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4 col-sm-6" *ngFor="let food of foods">
                    <div class="single-food">
                        <div class="food-img">
                            <img src="assets/images/{{food.foodPhoto}}" class="img-fluid" alt="" routerLink ="/recipe/food/{{food.foodID}}">
                        </div>
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5 routerLink ="/recipe/food/{{food.foodID}}" >{{food.foodName}}</h5>  
                                
                                <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px;"> {{food.timing}}</i>
                            </div>
                            <i class="fa fa-globe" aria-hidden="true"> {{food.cuisine}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Food Area End -->

   




<!-- <table>
    <th>Food Name</th>
    <th>Food Recipe</th>
    <th>Food Ingredients</th>
    <tr *ngFor="let food of foods">
      <td>{{food.foodName}}</td>
      <td>{{food.foodRecipe}}</td>
      <td>{{food.foodIngre}}</td>
    </tr>
</table> -->