<div class="body"></div>
    <div class="grad"></div>
    
        <div class="header"><div>BitterSweetSour</div></div>
    <br>
    <div class="login">
        <p class="text">Forgot your password?</p>
        <input type="text" placeholder="e-mail" [(ngModel)]="Email">
        <input type="text" placeholder="username" [(ngModel)]="Username"><br>
        <input type="button" (click) = "question()"value="Submit"><br>

        <label class="ques">{{Ques}}</label>

        <div>
            <input type="text" *ngIf = "isCorrect" placeholder="answer" [(ngModel)]="Answer" ><br>
            <input class="btn success" *ngIf = "isCorrect" (click) = "question()" value="Submit">
        </div>
        <div class="error">
            <button class="back" (click) = "login()" >Go back</button>
        </div>
    </div>
        
        

		