<div class="body"></div>
    <div class="grad"></div>
    
        <div class="header"><div>BitterSweetSour</div></div>
    <br>
    <div class="login">
        <p class="text">Forgot your password?</p>
        <input type="text" placeholder="e-mail" [(ngModel)]="e_mail">
        <input type="password" placeholder="username" [(ngModel)]="Username" required autofocus><br>
        <input type="button" value="Submit">
    
        <div class="error">
            <button class="back" (click) = "login()">Go back</button>
        </div>
    </div>
        
        

		