<div>
  First name: <input type="text" name="FirstName" [(ngModel)]='FirstName'><br>
  Last name: <input type="text" name="LastName" [(ngModel)]='LastName'><br>
  Username: <input type="text" name="Username" [(ngModel)]='UserName'><br>
  Birthdate: <input type="text" name="Birthdate" [(ngModel)]='Birthdate'><br>
  Gender: <input type="text" name="Gender" [(ngModel)]='Gender'><br>
  Location: <input type="text" name="Location" [(ngModel)]='Location'><br>
  Password: <input type="text" name="Password" [(ngModel)]='Password'><br>
  RecoveryQuestion: <input type="text" name="RecoveryQuestion" [(ngModel)]='RecoveryQuestion'><br>
  RecoveryResult: <input type="text" name="RecoveryResult" [(ngModel)]='RecoveryResult'><br>
  E-mail: <input type="text" name="Email" [(ngModel)]='Email'><br>

  <input type="submit" value="Submit" (click)="sign()" >

</div>
