
<!-- Banner Area Starts -->

<section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>the most interesting food in the world</h6>
                    <h1>Discover the <span class="prime-color">flavors</span><br>  
                    <span class="style-change">of <span class="prime-color">BitterSweetSour</span></span></h1>
                </div>
            </div>
            
        </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="assets/images/blog/cat-post/imagesfoodd.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a (click) = "foodMenu()" ><h5>FOODS</h5></a>
                                        <div class="border_line"></div>
                                        <p>Most delicious foods of the week</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="assets/images/blog/cat-post/pinkbox_desig.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a (click) = "dessertMenu()"><h5>DESSERTS</h5></a>
                                        <div class="border_line"></div>
                                        <p>Most delicious desserts of the week</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="assets/images/blog/cat-post/juice.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a (click) = "drinkMenu()"><h5>DRINKS</h5></a>
                                        <div class="border_line"></div>
                                        <p>Most delicious drinks of the week</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Banner Area End -->
    <!--================Blog Categorie Area =================-->
    
    <!--================Blog Categorie Area =================-->
    <!-- Testimonial Area Starts -->
    <section class="testimonial-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                        <h3>Member <span>says</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider owl-carousel" >
                        <div class="single-slide d-sm-flex" >
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer1.png" alt="">
                            </div>
                            <div class="customer-text" >
                                <h5>{{comments[0].userName}}</h5>
                                <span>{{comments[0].commentDate}}</span>
                                <p style = "font-size: 15px;">{{comments[0].foodName}}<p>
                                <p class="pt-3">{{comments[0].userComment}}</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area End -->
    
    
    
    
    
    <!-- <table>
        <th>Food Name</th>
        <th>Food Recipe</th>
        <th>Food Ingredients</th>
        <tr *ngFor="let food of foods">
          <td>{{food.foodName}}</td>
          <td>{{food.foodRecipe}}</td>
          <td>{{food.foodIngre}}</td>
        </tr>
    </table> -->











